.header__bg {
  min-height: 75vh;
  background-color: #f1eeec;

  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__bg {
    min-height: 100vh;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  transform: translateY(-10%);
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    flex-direction: column-reverse;
    transform: translateY(0);
    padding-top: 1.2em;
  }
}

.header__text {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 150%;
    padding: 0.75em 0 2em;
  }

  .header__cta {
    background-color: #aa9488;
    border: 1px solid #aa9488;
    color: white;
    border-radius: 30px;
    padding: 0.75em 1.5em;
    font-weight: 300;

    transition: all 0.2s ease;
  }

  .header__cta:hover {
    background-color: transparent;
    color: #aa9488;
  }
}

@media screen and (max-width: 1000px) {
  .header__text {
    h1 {
      font-size: 3.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    h1 {
      font-size: 2.5rem;
    }

    p {
      text-align: center;
    }
  }
}

.header__img {
  width: 800px;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media screen and (max-width: 768px) {
  .header__img {
    width: 300px;
  }
}
