.nav__background {
  background-color: #ece8e6;
  min-height: 10vh;

  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .nav__background {
    display: none;
  }
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style: none;
}

@media screen and (max-width: 768px) {
  .nav__links {
    a {
      font-size: 0.8rem;
    }
  }
}
