.types__wrapper {
    min-height: 50vh;
    padding-bottom: 8em;
}

.types__title {
    font-size: 2rem;
    text-align: center;
}

.type__content {
    margin-top: 5em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}