.footer__wrapper {
  min-height: 50vh;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;

  > * {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__bg {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.footer__content {
  padding-left: 2em;
}

@media screen and (max-width: 768px) {
  .footer__content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  width: 80%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.footer__text {
  h2 {
    font-size: 3rem;
    padding: 1em 0;
  }
}

@media screen and (max-width: 1100px) {
  .footer__text {
    h2 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer__text,
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.phone,
.email,
.address,
.time {
  display: flex;
  align-items: center;

  margin-bottom: 1.8em;

  p {
    max-width: 80%;
    padding-left: 2em;
    line-height: 150%;
  }

  img {
    max-height: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .phone,
  .email,
  .address,
  .time {
    p {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .phone,
  .email,
  .address,
  .time {
    flex-direction: column;

    p {
      max-width: 100%;
      padding-left: 0;
      text-align: center;
    }
  }

  .address {
    p {
      max-width: 80%;
    }
  }

  .phone,
  .email,
  .address {
    p {
      padding-top: 1em;
    }
  }

  .time {
    .time__wrapper {
      padding-top: 1em;
    }
  }
}

.day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2em;
}

@media screen and (max-width: 768px) {
  .day {
    p {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

.gmaps__barcode {
  display: flex;
  align-items: center;

  .barcode__text {
    padding-left: 1em;
  }
}

@media screen and (max-width: 900px) {
  .gmaps__barcode {
    display: none;
  }
}

.copyright {
  background-color: #f1eeec;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .copyright {
    p {
      font-size: 0.8rem;
    }
  }
}
