.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;

  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.open {
  opacity: 1;
  pointer-events: visible;
}

.modal__close {
  text-align: center;
  padding-top: 1em;
}

.modal__content {
  width: 40vw;
  height: 90vh;
  background-color: #f1eeec;
  overflow: hidden;
}

.modal__body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 4em;
}

@media screen and (max-width: 768px) {
  .modal__body {
    padding: 2em;
  }
}
