* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  overflow-x: hidden;
  background-color: #fbfbfb;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Neuton", serif;
}

p,
a,
span {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  width: min(90%, 70.5rem);
}
